@model TFA.Web.Models.GoogleAuthenticatorViewModel

<div class="empty"></div>
<div class="row">
    <div class="col-md-12">
        <ol>
            <li>
                <a href="https://support.google.com/accounts/answer/1066447?hl=en"> Install Google Authenticator</a>
                on your phone.
            </li>
            <li>Open the Google Authenticator app.</li>
            <li>Tap menu, then tap "Set up account", then tap "Scan a barcode".</li>
            <li>
                Your phone will now be in a "scanning" mode. When you are in this mode, scan the barcode below:
                <p>
                    <img src="http://qrcode.kaywa.com/img.php?s=7&d=@(Model.BarcodeUrl)" alt="QR" />
                </p>
            </li>
            <li>Once you have scanned the barcode, enter the 6-digit code below:</li>
        </ol>

        @using (Html.BeginForm("EnableGoogleAuthenticator", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false)
            @Html.HiddenFor(m => m.SecretKey)
            @Html.HiddenFor(m => m.BarcodeUrl)
            <div class="form-group">
                @Html.LabelFor(m => m.Code, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Enable" />
                </div>
            </div>
        }
    </div>
</div>